{:paths   ["bb" "common"]
 :tasks   {development      {:doc "Run local development.", 
                             :task (exec 'development.tasks/development)}
           nrepl            {:doc "Start Clojure nRepl server.", 
                             :task (exec 'development.tasks/nrepl)}}}